@import 'tailwindcss';

@theme {
  --font-poppins: Poppins, sans-serif;
  --color-green-50: #6c9d30;
}

[data-radix-popper-content-wrapper] {
  width: 100%;
  padding: 0 16px;
}

:root {
  --font-poppins: 'Poppins', sans-serif;
}

body {
  font-family: var(--font-poppins);
}
